<div class="d-flex justify-content-end mb-3">
  <button type="button" class="btn bg-gradient-primary btn-block" data-bs-toggle="modal" data-bs-target="#modalAdd">Them nhu yeu pham</button>
</div>

<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title font-weight-normal">Them san pham nhu yeu pham moi</h6>
        <button type="button" data-bs-dismiss="modal" class="btn-close" aria-label="Close">
          <span aria-hidden="true" class="text-primary">X</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
          <h6 class="text-white text-capitalize ps-3">Danh sach cac nhu yeu pham</h6>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="row justify-content-start mx-3">
          <div class="col-md-auto m-3">
            <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="Hinh anh san pham">
              <div class="card-body">
                <h5 class="card-title">Ten san pham</h5>
                <p class="card-text">Gia tien</p>
              </div>
              <div class="card-body">
                <a href="#" class="card-link">Chinh sua</a>
                <a href="#" class="card-link">Xoa</a>
              </div>
            </div>
          </div>
          <div class="col-md-auto m-3">
            <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="Hinh anh san pham">
              <div class="card-body">
                <h5 class="card-title">Ten san pham</h5>
                <p class="card-text">Gia tien</p>
              </div>
              <div class="card-body">
                <a href="#" class="card-link">Chinh sua</a>
                <a href="#" class="card-link">Xoa</a>
              </div>
            </div>
          </div>
          <div class="col-md-auto m-3">
            <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="Hinh anh san pham">
              <div class="card-body">
                <h5 class="card-title">Ten san pham</h5>
                <p class="card-text">Gia tien</p>
              </div>
              <div class="card-body">
                <a href="#" class="card-link">Chinh sua</a>
                <a href="#" class="card-link">Xoa</a>
              </div>
            </div>
          </div>
          <div class="col-md-auto m-3">
            <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="Hinh anh san pham">
              <div class="card-body">
                <h5 class="card-title">Ten san pham</h5>
                <p class="card-text">Gia tien</p>
              </div>
              <div class="card-body">
                <a href="#" class="card-link">Chinh sua</a>
                <a href="#" class="card-link">Xoa</a>
              </div>
            </div>
          </div>
          <div class="col-md-auto m-3">
            <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="Hinh anh san pham">
              <div class="card-body">
                <h5 class="card-title">Ten san pham</h5>
                <p class="card-text">Gia tien</p>
              </div>
              <div class="card-body">
                <a href="#" class="card-link">Chinh sua</a>
                <a href="#" class="card-link">Xoa</a>
              </div>
            </div>
          </div>
          <div class="col-md-auto m-3">
            <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="Hinh anh san pham">
              <div class="card-body">
                <h5 class="card-title">Ten san pham</h5>
                <p class="card-text">Gia tien</p>
              </div>
              <div class="card-body">
                <a href="#" class="card-link">Chinh sua</a>
                <a href="#" class="card-link">Xoa</a>
              </div>
            </div>
          </div>
          <div class="col-md-auto m-3">
            <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="Hinh anh san pham">
              <div class="card-body">
                <h5 class="card-title">Ten san pham</h5>
                <p class="card-text">Gia tien</p>
              </div>
              <div class="card-body">
                <a href="#" class="card-link">Chinh sua</a>
                <a href="#" class="card-link">Xoa</a>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>

