<h1 class="text-center my-3">XEM THÔNG TIN CÁ NHÂN</h1>

<ul style="list-style-type: disc;">
  <li><a href="/user/personal-information"><h6 class="font-weight-bolder mb-3">Thông tin cơ bản</h6></a></li>
  <li><a href=""><h6 class="font-weight-bolder mb-3">Lịch sử được quản lý</h6></a></li>
  <li><a href="/user/history-necessity-combo"><h6 class="font-weight-bolder mb-3">Lịch sử tiêu thụ gói Nhu yếu phẩm</h6></a></li>
  <li><a href=""><h6 class="font-weight-bolder mb-3">Dư nợ</h6></a></li>
  <li><a href=""><h6 class="font-weight-bolder mb-3">Lịch sử thanh toán</h6></a></li>
  <li><a href=""><h6 class="font-weight-bolder mb-3">Thông báo nhắc thanh toán</h6></a></li>
</ul>