<div class="container-fluid w-75">
    <div class="row justify-content-center">
        <h1 class="text-center my-3" style="font-size: 2.5rem">CHUYỂN ĐẾN CỔNG THANH TOÁN</h1>
        <h5 class="text-center mb-3 text-success" id="msg" style="display: none;">Đang chuyển đến...</h5>
        <button type="button" class="btn bg-gradient-primary btn-block w-25" onclick="getPaymentTab('{{paymentUrl}}')">THANH TOÁN CHI PHÍ</button>

</div>
<script type="text/javascript" src="js/core/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    function getPaymentTab(url) {
        $("#msg").show();
        window.open(url);
        setTimeout(function () {
            $("#msg").hide();
        },3000);
    };
</script>
